.container {
	display: flex;
	flex-direction: column;
	height: 100%;
	margin: 0;
	padding-top: 120px;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}
.page-container {
	overflow: hidden;
}
.PDFViewer {
	display: block;
	background: #000;
	border: none;
	width: 800px;
	height: 1000px;
}
@media (max-width: 1200px) {
	.PDFViewer {
		display: block;
		background: #000;
		border: none;
		width: 800px;
		height: 630px;
	}
}
@media (max-width: 800px) {
	.container {
		display: flex;
		flex-direction: column;
		margin: 0;
		padding-top: 100px;
		align-items: center;
		justify-content: center;
		overflow: hidden;
	}
	.PDFViewer {
		display: block;
		background: #000;
		border: none;
		width: 400px;
		height: 500px;
	}
}
